@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dah_compatibility_list {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    margin-bottom: 10px
}

span.loading_span {
    display: none
}

@media (min-width:768px) {
    .dah_compatibility_list {
        margin: 5px 10px 5px 0
    }
}

.wrapper-header .header-topbar .nav-item i {
    font-size: 17px
}

.wrapper-header .header-topbar .nav-item a.nav-link {
    font-size: 13px;
    padding-left: 0;
    padding-right: 0
}

.wrapper-header .header-topbar .nav-item:not(:first-child) a.nav-link:before {
    content: "|";
    color: #1e3e53;
    padding: 0 15px
}

.menu-section .dropdown-toggle:after {
    display: none
}

.wrapper-header .menu-section ul.navbar-nav {
    width: 100%;
    justify-content: space-between
}

.wrapper-header .menu-section ul.navbar-nav>li>a.nav-link {
    text-transform: uppercase;
    font-size: 14px;
    padding: .91rem .5rem;
    font-weight: 700
}

.wrapper-header .menu-section ul.navbar-nav>li:first-child>a.nav-link {
    padding-left: 0
}

.wrapper-header .menu-section ul.navbar-nav>li:last-child>a.nav-link {
    padding-right: 0
}

div#header-call .divider {
    width: 1px;
    height: 45px;
    float: left;
    background-color: #e5e5e5;
    margin: 0 15px
}

div#header-call {
    display: flex;
    align-items: center
}

div#header-call img {
    margin-right: 10px
}

div#header-call p:not(.h2):first-child {
    font-size: 11px;
    line-height: 1;
    font-weight: 700;
    color: #6c6c6c
}

div#header-call p a {
    font-size: 16px;
    font-weight: 700
}

div#header-cart .dropdown-toggle:after {
    display: none
}

#header-cart a#cartcontentsheader {
    display: flex;
    align-items: center
}

#header-cart a#cartcontentsheader>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px
}

#header-cart a#cartcontentsheader>div>span:first-child {
    color: #071f2f;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase
}

#header-cart a#cartcontentsheader>div>span:last-child {
    font-size: 15px;
    font-weight: 700;
    color: var(--theme-colour-secondary);
    line-height: 1
}

.logo-section {
    padding: 15px 0
}

.header-search {
    width: 493px;
    margin-right: 15px
}

.header-search>form input {
    border: 1px solid #e5e5e5;
    line-height: 44px;
    height: 46px;
    box-shadow: none !important
}

.header-search>form button.btn {
    border: 1px solid #e5e5e5;
    border-left: none
}

.dah_homecategories .thumbnail {
    margin-top: 30px;
    position: relative;
    float: left;
    width: 100%;
    border-radius: 5px;
    overflow: hidden
}

.dah_homecategories .thumbnail .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: auto;
    text-align: center;
    min-height: 52px;
    transition: all .6s;
    display: flex;
    align-items: center;
    justify-content: center
}

.dah_homecategories .thumbnail .caption>div {
    display: flex;
    width: auto;
    z-index: 10;
    flex-direction: column;
    align-items: center
}

.dah_homecategories .thumbnail .caption h5>a {
    font-weight: 700;
    font-size: 22px;
    margin: 0 auto;
    text-transform: uppercase;
    transition: all .6s;
    text-decoration: none
}

.dah_homecategories .thumbnail .caption h5 {
    width: auto;
    display: inline;
    margin: 0 auto
}

.dah_homecategories .thumbnail .caption a.btn {
    display: none;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    width: 112px;
    height: 34px;
    padding: 0;
    line-height: 34px;
    transition: all .6s;
    margin-top: 5px
}

.dah_homecategories .thumbnail:hover .caption {
    min-height: 100%
}

.dah_homecategories .thumbnail:hover .caption a.btn {
    display: inline-block
}

.dah_homecategories .thumbnail a.dah_allcover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%
}

.section-title {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--theme-colour-primary);
    margin: 35px auto;
    text-align: center;
    letter-spacing: 1px
}

.dah_homecategories .section-title {
    margin-bottom: 10px
}

.section-title>span {
    color: var(--theme-colour-secondary)
}

#n_home .products-row article.pb-2 {
    padding-bottom: 0 !important
}

.thumbnail.card-body {
    border-radius: 0;
    border-color: #e5e5e5;
    transition: all .6s
}

.brand-item>a:active,
.brand-item>a:focus,
.brand-item>a:hover,
.thumbnail.card-body:hover,
.mega-menu>li.nav-item:hover,
.mega-menu>li.nav-item:focus,
.mega-menu>li.nav-item:active {
    border-color: #f7f7f7;
    box-shadow: 0 0 14px rgba(0, 0, 0, .07)
}

.thumbnail.card-body .card-title,
.thumb_list .card-body .card-title {
    height: 4.5em;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400
}

.thumbnail.card-body .card-title>a:not(:hover),
.thumb_list .card-body .card-title>a:not(:hover) {
    color: #000
}

.thumbnail.card-body p.price span.rrp-price,
.thumb_list .card-body .price span.rrp-price {
    color: var(--theme-colour-primary);
    min-height: 15px;
    margin-bottom: 5px;
    font-size: 14px
}

.thumbnail.card-body p.price,
.thumb_list .card-body .price {
    color: var(--theme-colour-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    flex-direction: column;
}

.thumbnail.card-body .savings-container:after {
    width: 0;
    height: 0;
    border-top: 52px solid #dc3545;
    border-left: 52px solid transparent;
    display: inline-block;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    content: "";
    right: 0;
    top: 0;
    position: absolute
}

.thumbnail.card-body .savings-container span.sale-lable {
    display: flex;
    color: #fff;
    font-size: 13px;
    position: relative;
    width: auto;
    float: left;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 700;
    transform: rotate(45deg);
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px
}

.thumbnail.card-body .buying-options .btn,
.thumb_list .card-footer .btn {
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 10px
}

section#homepageCarousel2 {
    margin-top: 45px
}

.footer-usps {
    margin: 45px auto
}

.footer-usps .col-12>div {
    border: 1px solid #e5e5e5;
    height: 100%;
    padding: 10px 15px
}

.footer-usps p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    color: var(--theme-colour-primary)
}

div#footer-newsletter .col-12>.d-flex {
    box-shadow: 0 0 14px rgba(0, 0, 0, .07);
    border: 1px solid #f7f7f7;
    background-color: #fff;
    padding: 20px 30px
}

div#footer-newsletter h3 {
    font-size: 16px;
    color: var(--theme-colour-primary);
    font-weight: 700
}

.wrapper-footer nav .nav-link {
    padding: 2px 0
}

.col-footer-about .nav>li {
    padding: 10px 0
}

.col-footer-about .nav>li div a,
.col-footer-about .nav>li div p {
    font-size: 15px;
    font-weight: 700;
    margin: 0
}

.col-footer-about .nav.list-social>li a {
    font-size: 17px
}

.col-footer-about .nav>li div.d-flex>div:first-child {
    width: 20px;
    justify-content: center;
    display: flex;
    margin-right: 10px
}

.wrapper-footer nav h4.nav-link {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px
}

.wrapper-footer hr {
    border-color: #1c2c36;
    margin: 2rem 0
}

footer.wrapper-footer {
    padding-top: 50px;
    background-color: #000000 !important;
}

div#footer-newsletter {
    margin-bottom: -50px;
    z-index: 10;
    clear: left;
}

#footer-newsletter + footer.wrapper-footer {
    padding-top: 100px;
}

#header-cart {
    z-index: 10
}

.nav-tabs .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6c6c6c
}

.nav-tabs {
    border-bottom: 0 solid var(--theme-colour-primary)
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: #fff;
    background-color: var(--theme-colour-primary);
    border-color: var(--theme-colour-primary)
}

.tab-content {
    border: 1px solid var(--theme-colour-primary);
    padding: 30px
}

.breadcrumb {
    margin-bottom: 0;
    background-color: transparent
}

.products_alt_images>div>a {
    float: left;
    width: 100%;
    height: auto;
    border: 1px solid #e5e5e5;
    margin: 0 auto 10px
}

.products_alt_images>div {
    padding-right: 5px;
    padding-left: 5px;
    justify-content: center
}

.products_alt_images {
    margin-right: -5px;
    margin-left: -5px;
    margin-top: 10px;
}

.products_alt_images>div>a.dahactive,
.products_alt_images>div>a:hover {
    border: 1px solid var(--theme-colour-secondary)
}

.breadcrumb a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}

.breadcrumb-item {
    display: flex;
    align-items: center
}

.breadcrumb-item+.breadcrumb-item:before {
    content: "\203A";
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 3px
}

.breadcrumb-item:last-child>a {
    color: var(--theme-colour-primary)
}

.wrapper-product-title>h1 {
    color: var(--theme-colour-primary);
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px
}

.wrapper-product-title>h3.text-muted {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px
}

.wrapper-product-title p.product-sku {
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-colour-primary)
}

.wrapper-pricing .h1 {
    font-size: 24px;
    font-weight: 700;
    color: var(--theme-colour-secondary)
}

.wrapper-pricing>div.align-items-center>*,
.wrapper-pricing>div.products-row>* {
    margin-right: 10px;
    margin-bottom: 0
}

.wrapper-pricing>div.align-items-center,
.wrapper-pricing>div.products-row {
    margin-bottom: 10px
}

.tabbable {
    margin-top: 50px
}

.variation-name label,
p.dah_psectitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--theme-colour-primary);
    padding-bottom: 5px;
    margin-bottom: 0
}

.pshare-nav {
    flex-direction: column
}

.pshare-nav a.nav-link:not(:hover) {
    color: #899299
}

#n_product .extra-options form.buying-options input.qty {
    max-width: 231px;
    height: 50px;
    border-color: #e5e5e5;
    color: #002952;
    font-size: 14px;
    font-weight: 400
}

#n_product .extra-options form.buying-options .btn {
    height: 50px;
    width: 210px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    padding-top: 0;
    padding-bottom: 0;
}

#n_product .extra-options form.buying-options .btn.wishlist_toggle {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    width: 50px;
    padding: 0;
    line-height: 48px
}

#n_product .extra-options form.buying-options .btn:active,
#n_product .extra-options form.buying-options .btn:focus,
#n_product .extra-options form.buying-options .btn:hover {
    background-color: var(--theme-colour-secondary);
    border-color: var(--theme-colour-secondary)
}

#n_product .extra-options form.buying-options .btn:active img,
#n_product .extra-options form.buying-options .btn:focus img,
#n_product .extra-options form.buying-options .btn:hover img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1)
}

#shipbox #ship_country,
#shipbox #ship_zip,
#shipbox #n_qty,
#shipbox .form-control {
    height: 50px;
    border-color: #e5e5e5;
    font-size: 14px;
    color: #6c6c6c
}

#shipbox button.btn {
    height: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700
}

.card {
    overflow: hidden
}

.brand-item>a {
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    padding: 5px;
    transition: all .6s
}

div#compat_list>p {
    color: var(--theme-colour-secondary)
}

.products-row article.pb-2 {
    padding-bottom: 30px !important
}

#n_customer_account .breadcrumb,
.brand-item {
    margin-bottom: 30px
}

@media only screen and (max-width:1199.99px) {
    #n_product form.buying-options input.qty {
        max-width: 110px
    }
}

@media only screen and (min-width:768px) and (max-width:991.99px) {
    .footer-usps .col-12>div {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center
    }

    .footer-usps .col-12>div>img {
        margin-right: 0 !important;
        margin-bottom: 10px
    }

    .wrapper-header .menu-section ul.navbar-nav>li>a.nav-link {
        font-size: 12px
    }
}

@media (min-width: 992px) and (max-width:1199.99px) {

    #n_category .thumbnail.card-body .buying-options .btn,
    #n_category .thumb_list .card-footer .btn {
        padding: 0 10px;
    }
}

@media only screen and (max-width:991.99px) {

    #n_home .products-row article.pb-2,
    .products-row article.pb-2 {
        padding-bottom: 30px !important
    }

    .dah_homecategories .thumbnail .caption h5>a {
        font-size: 16px
    }
}

@media only screen and (max-width:574.99px) {
    .thumbnail.card-body .buying-options .btn {
        padding: 15px;
        line-height: 1
    }

    .section-title {
        font-size: 24px
    }

    div#footer-newsletter input#stloc_selector_cysel,
    div#footer-newsletter input#stloc_state_sel,
    div#footer-newsletter input#suburb_sl,
    div#footer-newsletter input._itmspec_opt,
    div#footer-newsletter input.form-control {
        width: 100%;
        margin: 0 !important;
        border-radius: .25rem
    }

    div#footer-newsletter input.btn {
        width: 100%;
        margin: 10px 0 0 !important
    }

    .wrapper-header .header-topbar .nav-item a.nav-link {
        font-size: 12px
    }

    .wrapper-header .header-topbar .nav-item:not(:first-child) a.nav-link:before {
        padding: 0 5px;
        display: none
    }

    #n_product .extra-options form.buying-options .btn {
        width: 150px
    }
}

@media only screen and (max-width:767.99px) {
    .wrapper-header .menu-section ul.navbar-nav>li:first-child>a.nav-link {
        padding-left: .5rem
    }

    .tab-content {
        border: 0 solid var(--theme-colour-primary);
        padding: 0
    }
}

@media only screen and (min-width:992px) {
    .header-search {
        width: 383px
    }
}

.wrapper-header .menu-section ul.navbar-nav>li.dropdown.mega-menu-parent {
    position: unset;
}

.mega-menu>li.nav-item {
    border: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding: 5px;
    transition: all 0.6s;
}

.mega-menu {
    background-color: #fff !important;
    column-gap: 15px;
    padding: 15px 15px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
    .mega-menu {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
    .mega-menu {
        -webkit-column-count: 6;
        -moz-column-count: 6;
        column-count: 6;
    }
}

@media (min-width: 1200px) {
    .mega-menu {
        -webkit-column-count: 8;
        -moz-column-count: 8;
        column-count: 8;
    }
}

.burger-menu {
    margin-top: 10px;
}

.burger-menu a {
    color: #fff;
    padding: 5px 0;
    width: 100%;
    float: left;
    position: relative;
    text-decoration: none;
}

.burger-menu a>span {
    position: absolute;
    right: 0;
}

.burger-menu>div>ul.nav>li>a {
    font-size: 16px;
    text-transform: uppercase;
}

.burger-menu>div>ul.nav>li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.burger-menu>div>ul.nav>li ul.nav {
    padding: 0 15px;
}

.dropdown-col-3 {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
}

.mega-menu>li.nav-item:last-child {
    height: auto;
    padding: calc(100% - 2px) 0 0;
    position: relative;
}

.mega-menu>li.nav-item:last-child a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-divider {
    margin: 45px auto 0;
    float: left;
    width: 100%
}

.footer-usps img {
    max-width: 60px;
}

.footer-usps-item .footer-usps-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.carousel-caption {
    bottom: auto;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption span.btn {
    background-color: var(--theme-colour-secondary);
    border-color: var(--theme-colour-secondary);
}

.carousel-caption span.btn:hover,
.carousel-caption span.btn:focus,
.carousel-caption span.btn:active {
    background-color: var(--theme-colour-primary);
    border-color: var(--theme-colour-primary);
}

.fa-phone {
    transform: rotate(90deg);
}

div#footer-newsletter i.far.fa-paper-plane {
    color: var(--theme-colour-secondary);
}

@media (max-width: 575.98px) {
    .carousel-item img {
        height: 200px;
        width: auto !important;
        max-width: unset;
    }
}

.neto-placeholder-rotator {
    width: 100%;
}

@media (min-width: 768px) {
    .mega-menu-cat {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .mega-menu-cat {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.megamenu_products>article {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row.sort_container {
    clear: both;
}

#recent_sales_ticker {
    z-index: 9999
}

@media (min-width: 768px) {
    .navbar-expand-md #searchMobile {
        display: none !important;
    }
}