<div class="row">
	<meta itemprop="itemCondition" content="NewCondition">
	<meta itemprop="brand" content="[@brand@]"/>
	<div class="wrapper-product-title col-12">
		<h1 itemprop="name" aria-label="Product Name">
			[%url_info type:'product' id:'[@inventory_id@]' name:'page_heading' default:'[@name@]'/%]
		</h1>
		[%if [@subtitle@]%]
			<h3 class="text-muted" role="heading" aria-label="Product Subtitle">[@subtitle@]</h3>
		[%/if%]
		[%if [@sku@]%]
			<p class="product-sku" role="SKU" aria-label="Product SKU">SKU: [@sku@]</p>
		[%/if%]

		[%set [@review_sku@]%][%if [@parent_sku@]%][@parent_sku@][%else%][@sku@][%/if%][%/set%]
		[%load_ajax_template id:'_reviews' type:'item' template:'reviews' preload:'1' tmpl_sku:'[@review_sku@]' /%]
	</div>
</div>
